body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	position: relative;
}

.container {
	position: fixed;
	overflow-y: scroll;
    width: 100%;
    height: 100%;
	padding: 0;
	margin: 0;
    bottom: 0;
    top: 0;
	background: url(./img/background.jpg) center center no-repeat; /*Photo by Luca Bravo on Unsplash*/
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#title {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	margin-top: 0;
	padding-top: 20px;
	font-size: 50px;
}

#button {
	margin-top: 20px;
	position: relative;
	color: #ffda79;
	text-shadow: 2px 5px 8px #4b4b4b;
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	padding: 20px 25px;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Pacifico', cursive;;
	left: 50%;
	transform: translateX(-50%);
	transition: .3s ease-in-out;
}

#button:hover {
	background-color:rgba(255,255,255,0.5);
	color: rgba(71, 19, 52, 1);
	text-shadow: none;
	transition: .3s ease-in-out;
}

.content {
	margin-top: 30px;
	padding: 20px 15px 20px 15px;
	display: flex;
	flex-wrap: wrap;

}

.weatherBox {
	flex-grow: 1;
	position: relative;
	background-color: rgba(255,255,255,0.7);
	color: rgba(111, 30, 81,1);
	margin: 10px;
	box-sizing: border-box;
	padding: 20px;
    border-radius: 10px;
	text-align: center;
    font-size: 16px;
    box-shadow: 5px 6px 8px #3d3d3d;

}

.tempToggle {
	border: 1px solid #0652DD;
	color: #0652DD;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	transition: .3s ease-in-out;
}

.tempToggle:hover {
	background-color: #ffda79;
	border: 1px solid #ffda79;
	color: #000000;
	transition: .3s ease-in-out;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .modal {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

/*large screens*/
@media only screen and (min-width: 769px) {
	#title {
		font-size: 70px;
	}

	#button {
		font-size: 25px;
		padding: 25px 35px;
	}

	.content {
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}

	.weatherBox {
		flex-basis: 30%;
		font-size: 18px;
		padding: 20px;
		text-align: initial;

	}
} 

/*medium screen*/
@media only screen and (min-width: 480px) {
	.content {
		padding-right: 20%;
		padding-left: 20%;
	}	
}


